body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;
}

body::-webkit-scrollbar {
  background-color: $colorBackground;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: $colorDark;
  border-radius: 20px;
}

.App {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}