.Freelancer-Stripe{
    width: 100vw;
    height: 175px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $colorBackground;
    font-size: 32px;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 500;

    overflow: hidden;
    position: relative;

    &::before{
        content: ' ';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        background: url('./../images/freelancer.jpg') no-repeat center center;
        background-size: cover;
        will-change: transform;
        z-index: -1; 
    }
}

.Hire-Me-Btn{
    width: 125px;
    height: 50px;
    border: 2px solid white;
    background-color: #00000000;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
    color: $colorBackground;
    font-size: 18px;
    transition-duration: 0.4s;
    text-decoration: none;

    &:hover{
        background-color: $colorBackground;
        color: $colorDark;
        font-weight: 700;
    }
}

