.Home {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: $colorBackground;
}

.Hello {
    font-size: 10vh;
    font-weight: bold;
    color: #3A3768;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.Intro {
    font-size: 9vh;
    font-weight: bold;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    color: #00AC95;
}

.Intro-text {
    display: flexbox;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);

}

.main-bg {
    height: 70vh;
    min-height: 200px;
    position: absolute;
    left: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    top: 50%;
    transform: translate(-75%, -50%);
}

.bio {
    font-family: 'Oxygen Mono', monospace;
    font-size: 5vh;
    margin-bottom: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    margin-top: 12px;
}

.cv-button {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    background: $colorDark;
    border: none;
    border-radius: 4vh;
    width: 32vh;
    height: auto;
    font-size: 2.8vh;
    color: #E5F9F6;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 2.2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ic-resume {
    width: 4vh;
    margin-left: 1vh;
}

.cv-button:hover {
    transform: translate3d(-50%, -5px, 0);
    -webkit-transform: translate3d(-50%, -5px, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.cv-button:active {
    transform: translate3d(-50%, -2px, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    .cv-button:hover {
        transform: translate3d(-50%, 0, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .cv-button:active {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .Hello {
        font-size: 6vh;
        font-weight: bold;
        color: #3A3768;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
    }

    .Intro {
        font-size: 6vh;
        font-weight: bold;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        color: #00AC95;
    }

    .Intro-text {
        display: flexbox;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 50%;
        text-align: center;
        width: 100%;
        top: 70%;
        transform: translate(-50%, -50%);

    }

    .main-bg {
        height: 50vh;
        min-height: 150px;
        position: absolute;
        left: 50%;
        width: 100%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        top: 30%;
        transform: translate(-50%, -50%);
    }

    .bio {
        font-family: 'Oxygen Mono', monospace;
        font-size: 3vh;
        margin-bottom: 0;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        margin-top: 12px;
    }

    .scrollable-element {
        scrollbar-color: dark;
    }


    .cv-button {
        position: absolute;
        left: 50%;
        bottom: 1%;
        transform: translate(-50%, 0);
        background: $colorDark;
        border: none;
        border-radius: 10vh;
        width: 30vh;
        height: auto;
        font-size: 2.5vh;
        line-height: 3vh;
        color: #E5F9F6;
        text-align: center;
        display: flex;
        justify-content: center;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        align-items: center;
        transition-duration: 0.4s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    .ic-resume {
        width: 4vh;
        margin-left: 2vh;
    }


}