.Navigation{
    position: fixed;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition-duration: 0.4s;

    &:hover,
    &:active{
        left: 0px;
    }


}

.NavBar{
    width: 200px;
    height: 200px;
    background-color: $colorBackground;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.NavIcon{
    width: 100px;
}