$colorDark: #3A3768;
$colorSecondary: #00BFA6;
$colorPrimary: #00AC95;
$colorBackground: #F7F7F7;

:export {
    colorDark: $colorDark;
    colorSecondary: $colorSecondary;
    colorPrimary: $colorPrimary;
    colorBackground: $colorBackground;
}